.aboutus-section {
    margin-top: 120px;
}

.card-title {
    font-weight: bold;
}

.corner {
    border-radius: 50px;
}

.corner2 {
    border-radius: 50px 50px 0px 0px;
}

.mx-auto {
    align-self: flex-end;
}

.low {
    display: flex;
    flex-direction: column;
}

.car.corner {
    display: flex;
}

.aboutus-card {
    margin-bottom: 150px;
}